.Home{
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    >header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        >.logo {
            height: 26px;
            margin-left: 16px;
        }
        >h1 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 0px;
            margin-left: 6px;
        }
        >.userInfo {
            margin: 0px 10px 0px auto;
        }
    }
    >main{
        padding:  16px 0 0 0;
        display: flex;
        justify-content: space-between;
    }
}